body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#chat-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

#join-message {
  margin-bottom: 10px;
  font-weight: bold;
}

#chat-history {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
#groupChat-history {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

#input-container {
  display: flex;
  margin-top: 10px;
}

#message-input {
  flex: 1;
  padding: 5px;
}

#send-button {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

#chat-container.hidden {
  display: none;
}

#chat-container {
  position: relative;
}

#close-chat-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#close-groupChat-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#create-group-form.hidden {
  display: none;
}

#groupChat-container.hidden {
  display: none;
}

#groupChat-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

#groupChat-container {
  position: relative;
}

#add-user-btn {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#makeAdmin-btn {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 85px;
}

.hidden {
  display: none;
}

